.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.civ-meters {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid white;
}

.civ-button {
  padding: 10px;
  font-size: 20px;
  margin: 0 10px;
  border: none;
  background-color: lightpink;
}

.civ-button:hover {
  background-color: white;
  transition: background-color cubic-bezier(0.1, 0.7, 1.0, 0.1);
}